.friends{
    position: relative;
    top:90px;
    width:100%;
    height:100%;
}

.friends .friends__list{
    margin-top:20px;
    overflow-y: scroll;
    height:315px;
}

.friends .friends__friend{
    padding-bottom: 10px;
}

.friends .friend__header
{
    padding:20px 0px 10px 0px;
}

.friends .friends__plus{
    padding:20px 0px;
    border-top: 1px solid #f7f7f7;
    border-bottom: 1px solid #f7f7f7;
   
}

.friends__plus .friends__title,
.friends__list .friends__title{
    font-size: 14px;
    opacity: 0.6;
    padding:10px 0px;
    border-top:1pt solid rgb(165,165,165);
}

.friends .friend__now-listening{
    width:150px;
    border:2px solid rgb(165,165,165);
    padding:5px 10px;
    border-radius: 15px;
    font-size: 14px;
}

.friend__now-listening{
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
}



.friend__channel{
    padding-left:2px;
}
